.faq {
    padding: 0 6rem;
}

.faq input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.faq .row {
    display:flex;
}
.faq .row .col {
    flex:1;
}

/* Accordion styles */
.faq .tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}

.faq .tab {
    width: 100%;
    overflow: hidden;
    color: #fff;
}

.faq .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    font-family: var(--font-family);
    border-top: 2px solid #ff2d61;
    font-weight: bold;
    cursor: pointer;
    color: #ff2d61;
    font-size: 20px;
}

.faq .tab-label:hover {
    background: darken(#2c3e50, 10%);
}
.faq .tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .35s;
}

.faq .tab-content {
    max-height: 0;
    padding: 0 1em;
    font-family: var(--font-family);
    transition: all .35s;
}

.faq input:checked + .tab-label {
    background: darken(#2c3e50, 10%);
}

.faq input:checked + .tab-label::after {
    transform: rotate(90deg);
}

.faq input:checked  ~ .tab-content {
    max-height: 100vh;
    padding: 1em 0;
}

.paragraph-large {
    color: #ff2d61;
}