.elx__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: linear-gradient(to right, #ff6a00, #ee0979);
}

.elx__cta-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
}

.elx__cta-container_groupB {
    flex: 1;
    display:flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.how-to-section {
    background: linear-gradient(to left, #ff6a00, #ee0979);
    border-radius: 10px;
    margin-bottom: 0 !important;
}

.how-to-header {
    margin-bottom: 1rem !important;
    text-align: center;
}

.sub-text {
    text-align: center;
    font-family: var(--font-family);
    color: #fff;
}

.elx__blog-container_article {
  /* background:  none; */
    padding: 15px 0;
    border-radius: 8px;
}

.how-to-section .elx__blog-container_article {
    background: none !important;
}

.elx__blog-container_article-image {
    margin: auto;
    border-radius: 100%;
}

.elx__cta-content p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
}

.elx__cta-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
}

.elx__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
}

.elx__cta-btn button {
    background: #000;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 650px) {
    .elx__cta {
        flex-direction: column;
    }

    .elx__cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .elx__cta {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .elx__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .elx__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}
